// Full-data run profile (4 vCPU / 15 GB RAM EC2)
workDir = '/data/scratch/work'

params {
    input            = "${projectDir}/assets/samplesheet_full.csv"
    outdir           = '/data/scratch/test_results_PEAR'
    publish_dir_mode = 'symlink'
    cprimers         = "${projectDir}/data/Briney_Cregion_primers.fasta"

    max_cpus   = 4
    max_memory = '13.GB'
    max_time   = '240.h'

    splitseq_min_count = 2
    clonal_threshold   = 0.16
}

process {
    withLabel: process_single {
        cpus   = 1
        memory = '4.GB'
    }
    withLabel: process_low {
        cpus   = 2
        memory = '8.GB'
    }
    withLabel: process_medium {
        cpus   = 4
        memory = '12.GB'
    }
    withLabel: process_high {
        cpus   = 4
        memory = '12.GB'
    }
}
