process {

    withName: 'FASTP' {
        ext.args = [
            '--detect_adapter_for_pe',
            '--cut_right',
            "--cut_window_size ${params.fastp_window_size}",
            "--qualified_quality_phred ${params.fastp_q}",
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/fastp/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json,log}"
            ],
            [
                path: { "${params.outdir}/fastp/${meta.id}/reads" },
                mode: params.publish_dir_mode,
                pattern: "*.fastp.fastq.gz"
            ]
        ]
    }

    withName: 'GUNZIP' {
        publishDir = [ enabled: false ]
    }

    withName: 'PRESTO_MASKPRIMERS_ALIGN' {
        ext.args  = "--maxlen 100 --maxerror ${params.primer_maxerror} --mode cut --skiprc --pf C_CALL"
        ext.args2 = "-f ID PRIMER ERROR"
        publishDir = [
            [
                path: { "${params.outdir}/presto/02-maskprimers/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*primers-pass.fastq"
            ],
            [
                path: { "${params.outdir}/presto/02-maskprimers/${meta.id}/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'PRESTO_PAIRSEQ' {
        ext.args  = "--2f C_CALL --coord sra"
        publishDir = [
            [
                path: { "${params.outdir}/presto/03-pairseq/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*pair-pass.fastq"
            ],
            [
                path: { "${params.outdir}/presto/03-pairseq/${meta.id}/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'ASSEMBLEPAIRS' {
        ext.args = [
            '--rc tail',
            '--coord sra',
            '--scanrev',
            '--aligner blastn',
            '--minlen 8',
            "--maxerror ${params.ap_maxerror}",
            "--alpha ${params.ap_alpha}",
            "--minident ${params.ap_minident}",
            "--evalue ${params.ap_evalue}",
            '--maxhits 100',
        ].join(' ').trim()
        ext.args2 = "-f ID REFID LENGTH OVERLAP GAP ERROR PVALUE EVALUE1 EVALUE2 IDENTITY FIELDS1 FIELDS2"
        publishDir = [
            [
                path: { "${params.outdir}/presto/04-assemblepairs/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*assemble-pass.fastq"
            ],
            [
                path: { "${params.outdir}/presto/04-assemblepairs/${meta.id}/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'PRESTO_COLLAPSESEQ' {
        ext.args  = "-n 0 --inner --keepmiss --cf DUPCOUNT --act sum"
        ext.args2 = "-f ID DUPCOUNT"
        publishDir = [
            [
                path: { "${params.outdir}/presto/05-collapseseq/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*collapse-unique.fastq"
            ],
            [
                path: { "${params.outdir}/presto/05-collapseseq/${meta.id}/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'PRESTO_SPLITSEQ' {
        ext.args = "-f DUPCOUNT --num ${params.splitseq_min_count}"
        publishDir = [
            path: { "${params.outdir}/presto/06-splitseq/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.fasta"
        ]
    }

    withName: 'CHANGEO_ASSIGNGENES' {
        ext.args = "--loci ig --format blast"
        publishDir = [
            [
                path: { "${params.outdir}/vdj_annotation/01-assigngenes/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*.fmt7"
            ],
            [
                path: { "${params.outdir}/vdj_annotation/01-assigngenes/${meta.id}/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'CHANGEO_MAKEDB' {
        ext.args = "--format airr --extended"
        publishDir = [
            [
                path: { "${params.outdir}/vdj_annotation/02-makedb/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*db-pass.tsv"
            ],
            [
                path: { "${params.outdir}/vdj_annotation/02-makedb/${meta.id}/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'CHANGEO_DEFINECLONES' {
        ext.args = [
            "--model ${params.clonal_dist_model}",
            "--norm ${params.clonal_norm}",
            "--dist ${params.clonal_threshold}",
            "--mode ${params.clonal_mode}",
            '--act set',
            '--format airr',
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/clonal_analysis/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*clone-pass.tsv"
        ]
    }
}
